@font-face {
    font-family: ;
    src: url();
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{

    height: 100%;
    width: 100%;
    background-color: rgb(26, 25, 25);

}

html{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* 
:root{

    --x: 400px;
    --y: 400px;
}
/* 
body{

    background-image: url();
} */

/* #box
{
    height: 100%;
    width: 100%;
    background: radial-gradient(at 100px var(--x) var(--y), red blue);

} */ 

body{

    display: flex;
    align-items: center;
    justify-content: center;

}

p{
    
   font-family: "Open Sans", sans-serif;
   font-size: 30px;
   color: rgb(154, 221, 20);


}
