
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{

    height: 100%;
    width: 100%;
}

h1{
    font-size: 100px;
    text-align: center;
    margin-top: 0px;
}

button{
    font-size: 50px;
     text-align: center;
    
}

#but1{
  margin-left: 450px;
  margin-top: 150px;
  background-color: rgb(77, 130, 177);
  border-radius: 20px;
}


 #but2{
 margin-left: 650px;
 /* margin-top: 150px ; */
 background-color: rgb(184, 38, 123);
 border-radius: 20px;
}

 

