@font-face {
    font-family: font ;
    src: url(./Luckill.ttf);
}

@font-face {
    font-family: fond ;
    src: url(./SandeMoreDemo-Regular.otf);
}

@font-face {
    font-family: dancing ;
    src: url(./NatureBeautyPersonalUse-9Y2DK.ttf);
}

@font-face {
    font-family: awesome ;
    src: url(/FontAwesome.ttf);
}

@font-face {
    font-family: gondens ;
    src: url(./Gondens\ DEMO.otf);
}

@font-face {
    font-family: libre ;
    src: url(./LibreBaskerville-Regular.ttf);
}

@font-face {
    font-family: luckill ;
    src: url(./Luckill.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{

    height: 100%;
    width: 100%;
}


body{

    height:  100%;
    width: 100%;
    background-color: rgb(123, 27, 57);
    
}

#keys{
      display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}

h1{
   
    color: palevioletred;
    background-color: blanchedalmond;
    height: 150px;
    width: 50px;
    padding-top: 10px;
    border: solid;
    border-width: 5px;
    border-color: palevioletred;
    font-size: 15px; 
    text-align: center;

}

#heading{

    font-family: dancing;
    position: absolute;
    top: 20%;
    left: 50%;
    font-size: 70px;
     transform: translate(-50%,-50%);
     color: rgb(184, 110, 143);
      
}