
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{

    height: 100%;
    width: 100%;
}

#parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#box{
    margin-top: 80px;
    height: 300px;
    width: 300px;
    border-color: rgb(0, 0, 0);
    border-radius: 25px;
    border-style: solid;
    background-color: rgb(23,56,80);
}

button{
    padding: 20px 10px;
    color: rgb(143, 35, 35);
    background-color: rgb(121, 221, 14);
     border-color: rgb(0, 0, 0);
    border-radius: 25px;
    border-style: solid;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}