
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{

    height: 100%;
    width: 100%;

}


:root{

    --x: 500px;
    --y: 900px;
}

body{


    height: 100%;
    width: 100%;
    overflow: hidden;

} 


#box
{   
    height: 100%;
    width: 100%;
    background : radial-gradient(  circle 130px at var(--x) var(--y), transparent, rgba(0,0,0,0.95));
    position: fixed;
    pointer-events: none;
    transition: background 0.08s linear;

} 

#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
