@font-face {
    font-family:vogue ;
    src: url(./AppleGaramond.ttf);
}

@font-face {
    font-family: unique ;
    src: url(./ChettaVissto.ttf);
}

@font-face {
    font-family:diff ;
    src: url(./CaviarDreams.ttf);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{

    height: 100%;
    width: 100%;
}

#main{

    height: 100%;
    width: 100%;
    color: black;
    position: relative;
}

#nav{
    padding: 40px;
    width: 100%;
    height: 60px;
    /* margin-top: 50px; */
    display: flex;
    justify-content: space-evenly;
    position: relative;
    
    

}

.navs{

    display: flex;
    font-size:20px ;
    font-weight: 10;
    gap: 30px;



}

#nav #shuru{
position: absolute;
left: 5%;
font-family: diff;


}

#nav #khatam{
position: absolute;
right: 5%;
font-family: diff;

}

#beechu{
    font-family: unique;
    font-size:35px ;
}

h1{
    font-size: 350px;
    /* text-align: center; */
    font-weight: 10;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family:vogue;
    

}

#van{

    position:absolute;
    top: 65%;
    left: 60px;
    width:180px;

    
}

#bottom{
    position: absolute;
    display: flex;
    font-family: diff;
    width: 100%;
    bottom: 7%;
    
}

#bottom #bot1{
position: absolute;
left: 5%;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 20px;
font-style: italic;




}

#bottom #bot2{
position: absolute;
right: 5%;
font-family: diff;
font-size: 20px;
font-weight: 80;
font-weight: bold;

}

img{
    
    position:relative;
}

#ig1{
    
     height: 250px;
    width: 200px;
    top: 35%;
    left: 45%;
}

#ig2{
     height: 150px;
    width: 300px;
    left: 38.5%;
    top: 40%;
    object-fit: contain;
    

}

#ig3{
     height: 250px;
    width: 200px;
    top: 30%;
    left: 34%;
    object-fit: contain;

}

    


