*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{

    height: 100%;
    width: 100%;
   

}

canvas{

    position:fixed;
    height: 100%;
    width: 100%;
    z-index: -1;

}

.cards{

    position: relative;
    z-index: 1;
    color: white;
}

body {
  margin: 0;
  overflow: hidden; /* scroll na aaye */
}